body {
    font-family: 'Nunito', sans-serif;
    background-image: url('background.png');
    background-size: cover;
}

/*---------------------------------------
			[VARIABLES]
---------------------------------------*/

:root {
    --primary-color: #2D3434;
    --secondary-color: #E8F6F2;
    --grey-color: #666;
    --dark-grey-color: #222;
    --light-grey-color: #DDD;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

/*---------------------------------------
			[BACKGROUND]
---------------------------------------*/

.background-primary {
    background-color: var(--primary-color);
}

.background-secondary {
    background-color: var(--secondary-color);
}

.background-grey {
    background-color: var(--grey-color);
}

.background-dark-grey {
    background-color: var(--dark-grey-color);
}

.background-light-grey {
    background-color: var(--light-grey-color);
}

.background-black {
    background-color: #000000;
}


/*---------------------------------------
			[COLORS]
---------------------------------------*/

.color-primary {
    color: var(--primary-color);
}

.color-secondary {
    color: var(--secondary-color);
}

.color-grey {
    color: var(--grey-color);
}

.color-dark-grey {
    color: var(--dark-grey-color);
}

.color-light-grey {
    color: var(--light-grey-color);
}


/*---------------------------------------
			[SCROLLBAR]
---------------------------------------*/

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 5px;
    transition: .5s;
}

::-webkit-scrollbar-thumb:hover {
    background: #666;
}


/*---------------------------------------
			[OTHER]
---------------------------------------*/

.row {
    margin: 0;
}

.rounded-corner {
    border-radius: 40px;
}

.card {
    border:0;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.7);
}

.button {
    padding: 0.5em 2em;
    margin-top: 1em;
    /*background-color: rgba(255, 255, 255);*/
    backdrop-filter: invert(100%);
    -webkit-backdrop-filter: invert(100%);
    color: var(--secondary-color);
    border-radius: 40px;
    font-weight: bold;
    transition: .5s;
}

.button:hover {
    text-decoration: none;
    color: var(--secondary-color);
    transform: translateY(-2px);
}

.font-weight-black {
    font-weight: 900;
}
